.navbar-customized{
	border:none;
	background-color: $secondary-color;
	color: white;
	min-height: 0;

	.navbar-brand{
		width:100%;
		background-color: white;
		p,a,span{
			color: $secondary-color !important;
			font-size: 1em;
			display: block;
			vertical-align: middle;
		}
	}

	.navbar-text{
		margin-top: $nav-space !important;
		margin-bottom: $nav-space !important;
	}

	a{
		letter-spacing: 3px;
		padding-top: $nav-space !important;
		padding-bottom: $nav-space !important;
		color: white;
		font-weight: bold;

		&:hover, &:focus{
			transition: 0.1s;
			-webkit-transition: 0.1s;
			background-color: #888 !important;

		}
	}
}