$card-width: 200px;
$card-height: 320px;
$card-text-height: 100px;
$card-price-width: 50px;
$card-price-height: 50px;
$card-margin: 10px;

$brand-color: #FFC31C;
$secondary-color: #333;

$modal-height: 400px;
$modal-width: 720px;

$nav-space: 8px;
